html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none; /* Prevents mobile pull-to-refresh and scroll */
    overscroll-behavior: none; /* Prevents bounce scrolling on mobile */
}

body, canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

header{
    position: relative;
    top: 0px;
    border : 2px solid black;
    padding: 5px;
    width: 100vw;
    display: flex;
}

