body, canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

header{
    position: relative;
    top: 0px;
    border : 2px solid black;
    padding: 5px;
    width: 100vw;
    display: flex;
}